.topo{
    margin-top: 20px;
}

.exemple{
  margin-right: 10px;
  margin-top: 4px;
}
.custome-class {
    direction: ltr;
    .timepicker__header {
      padding: 0px 30px !important;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }
    .timepicker-dial__control {
      font-size: 20px !important;
    }
  
    .timepicker-dial {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: center;
      height: 44px;
    }
  }

  ::ng-deep  input.ajustes{
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;

    padding: 1em 0 1em 0;
    text-indent: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}
.agenda{
  border-bottom: 1px solid #ccc;
  
  font-weight: 600;
  color: #ccc;
  padding-bottom: 6px;
  font: 400 18px/26px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

::ng-deep .mat-form-field-infix{
  width: 480px!important;
}
.btn-s {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-succes {
  color: #28a745;
  border-color: #28a745;
  height: 50px;
  width: 100px;
  
}
.btn-outline-succes:hover{
  background: #28a745;
  color: #fff;
}

.bt-topo{
  margin-top: 4px;
  margin-left: 10px;
}

.custom-file-upload {
  margin-top: 4px;
  margin-left: 8px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  padding-top: 10px!important;
  cursor: pointer;
  border-radius: 4px;
  height: 50px!important;
}